/target
/.project
/.*
/bin
/core/.settings
/core/.classpath
/core/.project
/core/.tern-project
/file/.settings
/file/.classpath
/file/.project
/file/.tern-project
/message/.settings
/message/.classpath
/message/.project
/message/.tern-project
/noboll/.settings
/noboll/.classpath
/noboll/.project
/noboll/.tern-project
