.loading-indicator {
	height: 80px;
	width: 30%;
	background: url( '../common/images/loading.gif' );
	background-repeat: no-repeat;
	background-position: top;
}

.loading-indicator-overlay {
	background-color: #FFFFFF;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}