<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 

    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace和定义的Mapper接口对应，并实现其中的方法 -->

<mapper namespace="com.noboll.demo.dao.DemoDao">

    <!-- id和mapper接口中的方法名对应，resultType使用mybatis.xml中的别名 -->

    <select id="getEntity" parameterType="string" resultType="com.noboll.demo.entity.Demo" resultMap="demoMap.demoResultMap">
        <![CDATA[
            select * from demo where id = #{id}
        ]]>
    </select>

    

    <update id="updateEntity" parameterType="com.noboll.demo.entity.Demo">
        update demo set
        name = #{name},
        login_id = #{loginId},
        password = #{password},
        <include refid="system.user_value_update"></include>
        where id = #{id}
    </update>

    


    <!-- 自动生成id策略 -->

    <insert id="saveEntity"  useGeneratedKeys="true" keyProperty="id" parameterType="com.noboll.demo.entity.Demo">
		
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
	       <include refid="system.generatedId"></include>
	    </selectKey>
		
        insert into demo(id, name, login_id, password,<include refid="system.user_column_insert"></include>)

        values(#{id}, #{name}, #{loginId}, #{password},<include refid="system.user_value_insert"></include>)

    </insert>

    

    <delete id="deleteEntity" parameterType="string">

        delete from demo where id = #{id}

    </delete>
    
    
    <select id="getAllEntity" resultType="list"  parameterType="map" resultMap="demoMap.demoResultMap">
    	select * from demo 
    	where 1=1 
    	<if test="_parameter.containsKey('name')">  
	        and name  LIKE CONCAT('%', CONCAT(#{name,jdbcType=VARCHAR}, '%'))  
	    </if>  
	    <if test="_parameter.containsKey('password')">  
	        and password LIKE CONCAT('%', CONCAT(#{password,jdbcType=VARCHAR}, '%')) 
	    </if>  
	    <if test="_parameter.containsKey('loginId')">  
	         and login_id LIKE CONCAT('%', CONCAT(#{loginId,jdbcType=VARCHAR}, '%')) 
	    </if>  
    </select>

</mapper>